<h2>Appointment</h2>
        <h3> Welcome ...{{ user.id }}</h3> 
         <p>Please select your service and preferred date and time. </p>
        <form id="appointmentForm">
            <label for="serviceDropdown">Select Service:</label>
            <select id="serviceDropdown" name="service">
                <option value="">Select a service</option>
                {{#each services as |service|}}
                    <option value="{{service.id}}">{{service.name}}</option>
                {{/each}}
            </select>

            <label for="appointmentDate">Preferred Date and Time:</label>
            <input type="datetime-local" id="appointmentDate" name="appointmentDate" required>
            
            <button type="submit">Submit</button>
        </form>

    <footer>
        <p>&copy; {{year}} {{shopName}}. All rights reserved.</p>
    </footer>
    <script src="./apptForm.js"></script>